.buttonGray {
  border:#333b46 solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  &>a {
    display: block;
    font-family: openSans, sans-serif;
    color:  #333b46;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
  }
}
.buttonWhite {
  border:#fff solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  &>a {
    display: block;
    font-family: openSans, sans-serif;
    color:  #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
  }
}