.wrapIcon {
  display: flex;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #81868e;
  text-align: center;
  line-height: 50px;
}
.details__about_wrapIcon {
  flex-direction: row;
  justify-content: center;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.details__about_icon {
  margin: 0 15px;
  &:nth-child(1) {
    background: #19bd9a;
  }
  &:nth-child(2) {
    line-height: 40px;
  }
}
.services__iconsWrap {
  flex-direction: column;
  align-items: flex-end;
}
.services__icons {
  margin-bottom: 20px;
  &:nth-child(2) {
    background: #19bd9a;
  }
}